<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasoft.hospital_manager.mapper.admin.work.WorkInfoMapper">
    <insert id="addUserWorkInfo"  parameterType="map">
         insert into work (user_id,address,onday,morning,afternoon,startime,endtime)values(#{user_id},#{address},#{onday},#{morning},#{afternoon},#{startime},#{endtime})
    </insert>

    <select id="requestloadUserWorkInfo" resultMap="getAlUserWorks" parameterType="java.lang.Integer">
        select  * from  work w,user u where u.id=w.user_id
            <if test="user_id!=null">
               and user_id=${user_id}
            </if>
    </select>

<!--    private Integer id;
    private User user;
    private String address;
    private String onday;
    private  String morning;
    private String afternoon;
    private Date startime;
    private Date endtime;-->
    <resultMap id="getAlUserWorks" type="com.chinasoft.hospital_manager.domain.Work">
        <id column="id" property="id"/>
        <result column="address" property="address"/>
        <result column="onday" property="onday"/>
        <result column="morning" property="morning"/>
        <result column="afternoon" property="afternoon"/>
        <result column="startime" property="startime"/>
        <result column="endtime" property="endtime"/>
        <association property="user" javaType="com.chinasoft.hospital_manager.domain.User">
            <id column="user_id"  property="id"/>
            <result column="name" property="name"/>
            <result column="username" property="username"/>
            <result column="password" property="password"/>
            <result column="birthday" property="birthday"/>
            <result column="sex" property="sex"/>
            <result column="profession" property="profession"/>
            <result column="datetime" property="datetime"/>
            <result column="job" property="job"/>
            <result column="school" property="school"/>
        </association>
    </resultMap>

    <select id="getUsers" resultMap="getUsers">
       select  * from  user
   </select>

    <resultMap id="getUsers" type="com.chinasoft.hospital_manager.domain.User">
        <id column="id"  property="id"/>
        <result column="name" property="name"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="birthday" property="birthday"/>
        <result column="sex" property="sex"/>
        <result column="profession" property="profession"/>
        <result column="datetime" property="datetime"/>
        <result column="job" property="job"/>
        <result column="school" property="school"/>
        <association property="role" javaType="com.chinasoft.hospital_manager.domain.Role">
            <id column="role_id" property="roleid"/>
            <result column="rolename" property="name"/>
            <result column="remark" property="remark"/>
        </association>
        <association property="department" javaType="com.chinasoft.hospital_manager.domain.Department">
            <id column="departmentid" property="id"/>
            <result column="departmentname" property="name"/>
            <result column="remark" property="remark"/>
        </association>
    </resultMap>

    <select id="findUserWorkInfoById" parameterType="java.lang.Integer"  resultMap="findUser">
        select  * from  work w,user u where u.id=w.user_id
            <if test="id!=null">
                and w.id=#{id}
            </if>
    </select>
   <resultMap id="findUser" type="com.chinasoft.hospital_manager.domain.Work">
        <id column="id" property="id"/>
        <result column="address" property="address"/>
        <result column="onday" property="onday"/>
        <result column="morning" property="morning"/>
        <result column="afternoon" property="afternoon"/>
        <result column="startime" property="startime"/>
        <result column="endtime" property="endtime"/>
        <association property="user" javaType="com.chinasoft.hospital_manager.domain.User">
            <id column="user_id"  property="id"/>
            <result column="name" property="name"/>
            <result column="username" property="username"/>
            <result column="password" property="password"/>
            <result column="birthday" property="birthday"/>
            <result column="sex" property="sex"/>
            <result column="profession" property="profession"/>
            <result column="datetime" property="datetime"/>
            <result column="job" property="job"/>
            <result column="school" property="school"/>
        </association>
    </resultMap>

    <select id="getAllRoles" resultMap="roles">
      SELECT * FROM  role
    </select>
    <resultMap id="roles" type="com.chinasoft.hospital_manager.domain.Role">
        <id column="roleid" property="roleid"/>
        <result column="name" property="name"/>
        <result column="remark" property="remark"/>
     </resultMap>

    <select id="findUsersByCategory" resultMap="findUsersByCategId">
       SELECT * FROM  `user` where role_id =2
    </select>
    <resultMap id="findUsersByCategId" type="com.chinasoft.hospital_manager.domain.User">
        <id column="id"  property="id"/>
        <result column="name" property="name"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="birthday" property="birthday"/>
        <result column="sex" property="sex"/>
        <result column="profession" property="profession"/>
        <result column="datetime" property="datetime"/>
        <result column="job" property="job"/>
        <result column="school" property="school"/>
    </resultMap>
    <select id="findDoctorsByCategory" resultMap="findDoctorsByCategoryId">
       SELECT * FROM doctor where role_id =3
    </select>
    <resultMap id="findDoctorsByCategoryId" type="com.chinasoft.hospital_manager.domain.Doctor">
        <id column="id" property="id"/>
        <result column="realname" property="realname"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="url" property="url"/>
    </resultMap>
    <select id="findAdminsByCategory" resultMap="findAdminsByCategoryId">
       SELECT * FROM  admin where role_id =1
    </select>
    <resultMap id="findAdminsByCategoryId" type="com.chinasoft.hospital_manager.domain.Admin">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
    </resultMap>


    <update id="editWorkInfoById" parameterType="map">
       UPDATE `work` SET address=#{address} WHERE id=#{id}
    </update>

    <delete id="deleteWorkInfoById" parameterType="map">
        DELETE FROM work WHERE id=#{id}
    </delete>


</mapper>