<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasoft.hospital_manager.mapper.admin.patient.UserForPatientMapper">
    <select id="getAllAppoint_categorys" resultMap="getAll">
          select  * from  appoint_category
    </select>

    <resultMap id="getAll" type="com.chinasoft.hospital_manager.domain.Appoint_category">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <select id="getOfficesByAppoint_category" parameterType="java.lang.Integer" resultMap="getOfficesByAppoint_category">
      select  * from offices
         <where>
            <if test="id!=null">
                ap_cate_id=#{id}
            </if>
         </where>
    </select>

    <resultMap id="getOfficesByAppoint_category" type="com.chinasoft.hospital_manager.domain.Offices">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
         <association property="appoint_category" javaType="com.chinasoft.hospital_manager.domain.Appoint_category">
             <id column="id" property="id"/>
             <result column="name" property="name"/>
         </association>
    </resultMap>

    <select id="getPatientBeforeAjaxSelect" resultType="java.lang.Integer">
        select count(*) from appointment where to_days(datetime) = to_days(now());
    </select>

      <!-- SELECT d.*,w.* ,o.id as oid,o.name as oname FROM doctor d,`work` w ,offices o WHERE  d.id=w.id AND o.id=d.office_id  AND o.id=#{id} AND  DATEDIFF(now(),w.startime)=0-->
  <!--  SELECT d.*,w.* ,o.id as oid,o.name as oname FROM doctor d,`work` w ,offices o WHERE  d.id=w.doctorid AND o.id=d.office_id and  AND o.id= #{id} AND to_days(w.startime) = to_days(now());AND w.status=0
      在医生默认没有点击停止挂号的按钮，下，查询该科室里面的医生，前提是该医生今天有班
  -->
    <select id="getDoctorByOndayTime" resultMap="getDoctorsOntime" parameterType="java.lang.Integer">
    SELECT d.*,w.id as wid,w.user_id,w.doctorid,w.address,w.onday,w.morning,w.afternoon,w.startime,w.endtime,w.comment,w.status as wstatus ,o.id as oid,o.name as oname
    FROM doctor d,`work` w ,offices o
    WHERE  d.id=w.doctorid AND o.id=d.office_id   AND o.id=#{id} AND to_days(w.startime) = to_days(now()) AND w.status=0
    </select>

    <resultMap id="getDoctorsOntime" type="com.chinasoft.hospital_manager.domain.Doctor">
        <id column="id" property="id"/>
        <result column="realname" property="realname"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="strength" property="strength"/>
        <result column="status" property="status"/>
        <result column="birthday" property="birthday"/>
        <result column="school" property="school"/>
        <result column="job" property="job"/>
        <result column="prat" property="prat"/>
        <association property="department" javaType="com.chinasoft.hospital_manager.domain.Department">

        </association>
        <association property="offices" javaType="com.chinasoft.hospital_manager.domain.Offices">
            <id column="oid" property="id"/>
            <result column="oname" property="name"/>
            <association property="appoint_category" javaType="com.chinasoft.hospital_manager.domain.Appoint_category">
            </association>
        </association>
        <collection property="works" ofType="com.chinasoft.hospital_manager.domain.Work">
            <id column="wid" property="id"/>
            <result column="address" property="address"/>
            <result column="onday" property="onday"/>
            <result column="morning" property="morning"/>
            <result column="wstatus" property="status"/>
            <result column="afternoon" property="afternoon"/>
            <result column="startime" property="startime"/>
            <result column="endtime" property="endtime"/>
            <association property="user" javaType="com.chinasoft.hospital_manager.domain.User">
                <id column="user_id"  property="id"/>
                <result column="name" property="name"/>
                <result column="username" property="username"/>
                <result column="password" property="password"/>
                <result column="birthday" property="birthday"/>
              <!--  <result column="sex" property="sex"/>-->
                <result column="profession" property="profession"/>
                <result column="datetime" property="datetime"/>
                <result column="job" property="job"/>
                <association property="role" javaType="com.chinasoft.hospital_manager.domain.Role">
                    <id column="roleid" property="roleid"/>
                    <result column="rolename" property="name"/>
                    <result column="remark" property="remark"/>
                </association>
            </association>
        </collection>
    </resultMap>



    <select id="getDoctorsByDetailsById" parameterType="java.lang.Integer" resultType="com.chinasoft.hospital_manager.domain.Doctor">
        SELECT * FROM `work` w,doctor d WHERE d.id=w.id AND d.id=#{id} AND  DATEDIFF(now(),w.startime)=0
    </select>


    <!--SELECT * FROM `work` w,doctor d WHERE d.id=w.id AND d.id=#{id}  AND  DATEDIFF(now(),w.startime)=0-->
    <select id="getDoctorsTimesById" parameterType="java.lang.Integer" resultMap="getDoctorsTimesById">
           SELECT * FROM `work` w,doctor d WHERE d.id=w.doctorid AND d.id=3  AND  DATEDIFF(now(),w.startime)=0
    </select>

    <resultMap id="getDoctorsTimesById" type="com.chinasoft.hospital_manager.domain.Work">
        <id column="id" property="id"/>
        <result column="address" property="address"/>
        <result column="onday" property="onday"/>
        <result column="morning" property="morning"/>
        <result column="afternoon" property="afternoon"/>
        <result column="startime" property="startime"/>
        <result column="endtime" property="endtime"/>
        <association property="doctor" javaType="com.chinasoft.hospital_manager.domain.Doctor">
            <id column="id" property="id"/>
            <result column="realname" property="realname"/>
            <result column="name" property="name"/>
            <result column="sex" property="sex"/>
            <result column="strength" property="strength"/>
            <result column="status" property="status"/>
            <result column="birthday" property="birthday"/>
            <result column="school" property="school"/>
            <result column="job" property="job"/>
            <result column="prat" property="prat"/>
            <association property="department" javaType="com.chinasoft.hospital_manager.domain.Department">

            </association>
        </association>
    </resultMap>


    <insert id="insertPatientUserInfo" parameterType="map">
            INSERT INTO patient (id,name,id_number,sex,is_marry,birthday,telephone,address,work,uid) VALUES (#{id},#{name},#{id_number},#{sex},#{is_marry},#{birthday},#{telephone},#{address},#{work},#{uid})
    </insert>
    <insert id="insertPatitentClinicInfo" parameterType="map">
        <if test="comment!=null">
            INSERT INTO appointment (id,content,appointId,patient_id,fee,datetime,clinc_category_id,address,user_id,office_id,doctor_id,`comment`,number,`status`,time,flag) values (#{id},#{content},#{appointId},#{patient_id},#{fee},#{datetime},#{clinc_category_id},#{address},#{user_id},#{office_id},#{doctor_id},#{`comment`},#{number},#{status},#{time},#{flag})
        </if>
        <if test="comment==null">
            INSERT INTO appointment (id,content,appointId,patient_id,fee,datetime,clinc_category_id,address,user_id,office_id,doctor_id,number,`status`,time,flag) values (#{id},#{content},#{appointId},#{patient_id},#{fee},#{datetime},#{clinc_category_id},#{address},#{user_id},#{office_id},#{doctor_id},#{number},#{status},#{time},#{flag})
        </if>
    </insert>




    <select id="selectPatientNumberInfo"  resultMap="selects" parameterType="map">
     	 SELECT t.id,t.fee,t.datetime,t.address,t.`comment`,t.number,t.`status`,t.time ,
     	 d.id as did ,d.realname,d.`name`  as dname  ,d.strength ,
     	 p.id as pid ,p.`name` as pname ,p.id_number ,p.is_marry,p.sex,p.telephone,p.`work`,p.address as paddress,p.birthday ,
     	 a.id as aid ,a.`name` as aname,
     	 o.id as oid  ,o.`name` as oname ,
     	 u.id as uid,u.`name` as uname
		 FROM appointment t,doctor d,patient p,appoint_category a ,offices o,USER  u
		 WHERE t.clinc_category_id=a.id AND p.id=t.patient_id AND
		 t.doctor_id =d.id AND t.office_id=o.id AND
		 u.id=t.user_id
		 limit #{index} ,#{count};
    </select>
    <resultMap id="selects" type="com.chinasoft.hospital_manager.domain.Appointment">
        <id column="id" property="id"/>
        <result column="fee" property="fee" />
        <result column="datetime" property="datetime" />
        <result column="address" property="address"/>
        <result column="comment" property="comment"/>
        <result column="number" property="number"/>
        <result column="status" property="status"/>
        <result column="time" property="time"/>
        <association property="patient" javaType="com.chinasoft.hospital_manager.domain.Patient">
            <id column="pid" property="id"/>
            <result column="pname" property="name" />
            <result column="id_number" property="id_number" />
            <result column="is_marry" property="is_marry"/>
            <result column="sex" property="sex"/>
            <result column="telephone" property="telephone"/>
            <result column="work" property="work"/>
            <result column="paddress" property="address"/>
            <result column="birthday" property="birthday"/>
        </association>

        <association property="appoint_category" javaType="com.chinasoft.hospital_manager.domain.Appoint_category">
            <id column="aid" property="id"/>
            <result column="aname" property="name" />
        </association>


        <association property="doctor" javaType="com.chinasoft.hospital_manager.domain.Doctor">
            <id column="did" property="id"/>
            <result column="realname" property="realname" />
            <result column="dname" property="name" />
            <result column="strength" property="strength" />
        </association>

        <association property="offices" javaType="com.chinasoft.hospital_manager.domain.Offices">
            <id column="oid" property="id"/>
            <result column="oname" property="name" />
        </association>

         <association property="user" javaType="com.chinasoft.hospital_manager.domain.User">
          <id column="uid" property="id"/>
          <result column="uname" property="name" />
       </association>

    </resultMap>

<!--      这个是按照点击初始化，不输入任何的检索条件，查询所有的数据的个数，这个sql语句是之前的
      SELECT count(*) FROM  appointment WHERE to_days(datetime) = to_days(now())-->
    <select id="getTotalCount" resultType="java.lang.Integer">
            SELECT count(*)
            FROM patient p,appointment a ,appoint_category appoint ,offices o,doctor dr
            where a.patient_id=p.id
            AND appoint.id=a.clinc_category_id
            AND a.office_id=o.id
            AND a.doctor_id=dr.id
    </select>


    <select id="selectPatientNumberInfoById" parameterType="java.lang.String" resultMap="selectItemByid">
      SELECT t.id,t.fee,t.datetime,t.address,t.`comment`,t.number,t.`status`,t.time ,d.id as did ,d.realname,d.`name`  as dname  ,d.strength ,p.id as pid ,p.`name` as pname ,p.id_number ,p.is_marry,
		 p.sex,p.telephone,p.`work`,p.address as paddress,p.birthday ,a.id as aid ,a.`name` as aname,o.id as oid  ,o.`name` as oname ,u.id as uid,u.`name` as uname
		 FROM appointment t,doctor d,patient p,appoint_category a ,offices o,USER  u
		 WHERE t.clinc_category_id=a.id AND p.id=t.patient_id AND t.doctor_id =d.id AND t.office_id=o.id AND  u.id=t.user_id AND t.id=#{id}
    </select>

    <resultMap id="selectItemByid" type="com.chinasoft.hospital_manager.domain.Appointment">
        <id column="id" property="id"/>
        <result column="fee" property="fee" />
        <result column="datetime" property="datetime" />
        <result column="address" property="address"/>
        <result column="comment" property="comment"/>
        <result column="number" property="number"/>
        <result column="status" property="status"/>
        <result column="time" property="time"/>
        <association property="patient" javaType="com.chinasoft.hospital_manager.domain.Patient">
            <id column="pid" property="id"/>
            <result column="pname" property="name" />
            <result column="id_number" property="id_number" />
            <result column="is_marry" property="is_marry"/>
            <result column="sex" property="sex"/>
            <result column="telephone" property="telephone"/>
            <result column="work" property="work"/>
            <result column="paddress" property="address"/>
            <result column="birthday" property="birthday"/>
        </association>

        <association property="appoint_category" javaType="com.chinasoft.hospital_manager.domain.Appoint_category">
            <id column="aid" property="id"/>
            <result column="aname" property="name" />
        </association>


        <association property="doctor" javaType="com.chinasoft.hospital_manager.domain.Doctor">
            <id column="did" property="id"/>
            <result column="realname" property="realname" />
            <result column="dname" property="name" />
            <result column="strength" property="strength" />
        </association>

        <association property="offices" javaType="com.chinasoft.hospital_manager.domain.Offices">
            <id column="oid" property="id"/>
            <result column="oname" property="name" />
        </association>

        <association property="user" javaType="com.chinasoft.hospital_manager.domain.User">
            <id column="uid" property="id"/>
            <result column="uname" property="name" />
        </association>

    </resultMap>




    <select id="beforeSelectupdatePatientNumberInfoById" parameterType="java.lang.Integer" resultMap="findAppointmentById">
		     SELECT t.id,t.fee,t.datetime,t.address,t.`comment`,t.number,t.`status`,t.time ,d.id as did ,d.realname,d.`name`  as dname  ,d.strength ,p.id as pid ,p.`name` as pname ,p.id_number ,p.is_marry,
		p.sex,p.telephone,p.`work`,p.address as paddress,p.birthday ,a.id as aid ,a.`name` as aname,o.id as oid  ,o.`name` as oname ,u.id as uid,u.`name` as uname
		FROM appointment t,doctor d,patient p,appoint_category a ,offices o,`user` u
		 WHERE t.clinc_category_id=a.id AND p.id=t.patient_id AND t.doctor_id =d.id AND t.office_id=o.id AND  u.id=t.user_id AND t.id=#{id}
    </select>

    <resultMap id="findAppointmentById" type="com.chinasoft.hospital_manager.domain.Appointment">
        <id column="id" property="id"/>
        <result column="fee" property="fee" />
        <result column="datetime" property="datetime" />
        <result column="address" property="address"/>
        <result column="comment" property="comment"/>
        <result column="number" property="number"/>
        <result column="status" property="status"/>
        <result column="time" property="time"/>
        <association property="patient" javaType="com.chinasoft.hospital_manager.domain.Patient">
            <id column="pid" property="id"/>
            <result column="pname" property="name" />
            <result column="id_number" property="id_number" />
            <result column="is_marry" property="is_marry"/>
            <result column="sex" property="sex"/>
            <result column="telephone" property="telephone"/>
            <result column="work" property="work"/>
            <result column="paddress" property="address"/>
            <result column="birthday" property="birthday"/>
        </association>

        <association property="appoint_category" javaType="com.chinasoft.hospital_manager.domain.Appoint_category">
            <id column="aid" property="id"/>
            <result column="aname" property="name" />
        </association>


        <association property="doctor" javaType="com.chinasoft.hospital_manager.domain.Doctor">
            <id column="did" property="id"/>
            <result column="realname" property="realname" />
            <result column="dname" property="name" />
            <result column="strength" property="strength" />
        </association>

        <association property="offices" javaType="com.chinasoft.hospital_manager.domain.Offices">
            <id column="oid" property="id"/>
            <result column="oname" property="name" />
        </association>

        <association property="user" javaType="com.chinasoft.hospital_manager.domain.User">
            <id column="uid" property="id"/>
            <result column="uname" property="name" />
        </association>


    </resultMap>



    <select id="updatePatientNumberInfoById" parameterType="java.lang.Integer">
      SELECT t.id,t.fee,t.datetime,t.address,t.`comment`,t.number,t.`status`,t.time ,d.id as did ,d.realname,d.`name`  as dname  ,d.strength ,p.id as pid ,p.`name` as pname ,p.id_number ,p.is_marry,
		p.sex,p.telephone,p.`work`,p.address as paddress,p.birthday ,a.id as aid ,a.`name` as aname,o.id as oid  ,o.`name` as oname ,u.id as uid,u.`name` as uname
		FROM appointment t,doctor d,patient p,appoint_category a ,offices o,USER  u
		 WHERE t.clinc_category_id=a.id AND p.id=t.patient_id AND t.doctor_id =d.id AND t.office_id=o.id AND  u.id=t.user_id AND t.id=#{id} AND t.datetime between date_add(NOW(), interval - 30 minute) AND NOW();
    </select>

<!--
    <delete id="" parameterType="java.lang.Integer">
      SELECT t.id,t.fee,t.datetime,t.address,t.`comment`,t.number,t.`status`,t.time ,d.id as did ,d.realname,d.`name`  as dname  ,d.strength ,p.id as pid ,p.`name` as pname ,p.id_number ,p.is_marry,
		p.sex,p.telephone,p.`work`,p.address as paddress,p.birthday ,a.id as aid ,a.`name` as aname,o.id as oid  ,o.`name` as oname ,u.id as uid,u.`name` as uname
		FROM appointment t,doctor d,patient p,appoint_category a ,offices o,USER  u
		 WHERE t.clinc_category_id=a.id AND p.id=t.patient_id AND t.doctor_id =d.id AND t.office_id=o.id AND  u.id=t.user_id AND t.id=#{id} AND t.datetime between date_add(NOW(), interval - 30 minute) AND NOW();
    </delete>
-->

    <select id="searchPatientsInfoByCondition" parameterType="map" resultMap="seachPatientsInfo">
       <!--         <if test="startime! = null and startime != '' and endtime! = null  and endtime!= ''">
                  SELECT temp.*
                  FROM
                  (SELECT a.id as aid ,a.patient_id as apid ,a.fee,DATE_FORMAT(a.datetime,'%Y-%m-%d') as condition_date ,  a.clinc_category_id,a.address as aaddress,a.flag,
                  a.user_id,a.office_id,a.doctor_id,a.`comment`,a.number,a.`status`,a.time,
                  p.id as pid,p.`name`,p.id_number,p.is_marry,p.telephone,p.`work`,p.address as paddress ,
                  appoint.id as appoint_id ,appoint.`name` as appoint_name,
                  o.id as oid ,o.`name` as oname,
                  dr.id as drid ,dr.realname as drname
                  FROM patient p,appointment a ,appoint_category appoint ,offices o,doctor dr
                  where a.patient_id=p.id
                  AND appoint.id=a.clinc_category_id
                  AND a.office_id=o.id
                  AND a.doctor_id=dr.id
                      <if test="name!=null">
                          and  p.name  like concat('%',#{name},'%')
                      </if>

                      <if test="id_number!=null">
                          and  p.id_number = #{id_number}
                      </if>
                      <if test="id!=null">
                          and  a.id = #{id}
                      </if>
                      <if test="today!=null">
                          AND to_days(a.datetime) = to_days(now())
                      </if>
                  ) as temp
                  <where>
                      temp.condition_date  BETWEEN  startime AND endtime
                  </where>
              </if>

          <if test="startime == null and startime == '' and  endtime == null and endtime=='' ">
              SELECT a.id as aid ,a.patient_id as apid ,a.fee,DATE_FORMAT(a.datetime,'%Y-%m-%d') as condition_date ,  a.clinc_category_id,a.address as aaddress,a.flag,
              a.user_id,a.office_id,a.doctor_id,a.`comment`,a.number,a.`status`,a.time,
              p.id as pid,p.`name`,p.id_number,p.is_marry,p.telephone,p.`work`,p.address as paddress ,
              appoint.id as appoint_id ,appoint.`name` as appoint_name,
              o.id as oid ,o.`name` as oname,
              dr.id as drid ,dr.realname as drname
              FROM patient p,appointment a ,appoint_category appoint ,offices o,doctor dr
              where a.patient_id=p.id
              AND appoint.id=a.clinc_category_id
              AND a.office_id=o.id
              AND a.doctor_id=dr.id
          </if>-->
        SELECT a.id as aid ,a.patient_id as apid ,a.fee,DATE_FORMAT(a.datetime,'%Y-%m-%d') as condition_date ,  a.clinc_category_id,a.address as aaddress,a.flag,
        a.user_id,a.office_id,a.doctor_id,a.`comment`,a.number,a.`status`,a.time,
        p.id as pid,p.`name`,p.id_number,p.is_marry,p.telephone,p.`work`,p.address as paddress ,
        appoint.id as appoint_id ,appoint.`name` as appoint_name,
        o.id as oid ,o.`name` as oname,
        dr.id as drid ,dr.realname as drname
        FROM patient p,appointment a ,appoint_category appoint ,offices o,doctor dr
        where a.patient_id=p.id
        AND appoint.id=a.clinc_category_id
        AND a.office_id=o.id
        AND a.doctor_id=dr.id
        <if test="name!=null">
            and  p.name  like concat('%',#{name},'%')
        </if>
        <if test="id_number!=null">
            and  p.id_number = #{id_number}
        </if>
        <if test="id!=null">
            and  a.id = #{id}
        </if>
        <if test="today!=null">
            AND to_days(a.datetime) = to_days(now())
        </if>
        limit #{index} ,#{count}
       <!-- <choose>
            <when test="startime! = null  and endtime! = null ">
                SELECT temp.*
                FROM
                (SELECT a.id as aid ,a.patient_id as apid ,a.fee,DATE_FORMAT(a.datetime,'%Y-%m-%d') as condition_date ,  a.clinc_category_id,a.address as aaddress,a.flag,
                a.user_id,a.office_id,a.doctor_id,a.`comment`,a.number,a.`status`,a.time,
                p.id as pid,p.`name`,p.id_number,p.is_marry,p.telephone,p.`work`,p.address as paddress ,
                appoint.id as appoint_id ,appoint.`name` as appoint_name,
                o.id as oid ,o.`name` as oname,
                dr.id as drid ,dr.realname as drname
                FROM patient p,appointment a ,appoint_category appoint ,offices o,doctor dr
                where a.patient_id=p.id
                AND appoint.id=a.clinc_category_id
                AND a.office_id=o.id
                AND a.doctor_id=dr.id
                <if test="name!=null">
                    and  p.name  like concat('%',#{name},'%')
                </if>

                <if test="id_number!=null">
                    and  p.id_number = #{id_number}
                </if>
                <if test="id!=null">
                    and  a.id = #{id}
                </if>
                <if test="today!=null">
                    AND to_days(a.datetime) = to_days(now())
                </if>
                ) as temp
                <where>
                    temp.condition_date  BETWEEN  startime AND endtime
                </where>
                limit #{index} ,#{count}
            </when>

            <otherwise>
                SELECT a.id as aid ,a.patient_id as apid ,a.fee,DATE_FORMAT(a.datetime,'%Y-%m-%d') as condition_date ,  a.clinc_category_id,a.address as aaddress,a.flag,
                a.user_id,a.office_id,a.doctor_id,a.`comment`,a.number,a.`status`,a.time,
                p.id as pid,p.`name`,p.id_number,p.is_marry,p.telephone,p.`work`,p.address as paddress ,
                appoint.id as appoint_id ,appoint.`name` as appoint_name,
                o.id as oid ,o.`name` as oname,
                dr.id as drid ,dr.realname as drname
                FROM patient p,appointment a ,appoint_category appoint ,offices o,doctor dr
                where a.patient_id=p.id
                AND appoint.id=a.clinc_category_id
                AND a.office_id=o.id
                AND a.doctor_id=dr.id
                <if test="name!=null">
                    and  p.name  like concat('%',#{name},'%')
                </if>

                <if test="id_number!=null">
                    and  p.id_number = #{id_number}
                </if>
                <if test="id!=null">
                    and  a.id = #{id}
                </if>
                <if test="today!=null">
                    AND to_days(a.datetime) = to_days(now())
                </if>
                limit #{index} ,#{count}
            </otherwise>
        </choose>-->
    </select>
    <resultMap id="seachPatientsInfo" type="com.chinasoft.hospital_manager.domain.Appointment">
        <id column="aid"  property="id"/>
        <result column="fee" property="fee"/>
        <result column="condition_date" property="datetime"/>
        <result column="aaddress" property="address"/>
        <result column="comment" property="comment"/>
        <result column="number" property="number"/>
        <result column="status" property="status"/>
        <result column="time" property="time"/>
        <result column="flag" property="flag"/>
        <association property="patient" javaType="com.chinasoft.hospital_manager.domain.Patient">
            <id column="pid" property="id"/>
            <result column="name" property="name" />
            <result column="id_number" property="id_number" />
            <result column="is_marry" property="is_marry"/>
            <result column="sex" property="sex"/>
            <result column="telephone" property="telephone"/>
            <result column="work" property="work"/>
            <result column="paddress" property="address"/>
            <result column="birthday" property="birthday"/>
        </association>

        <association property="appoint_category" javaType="com.chinasoft.hospital_manager.domain.Appoint_category">
            <id column="appoint_id" property="id"/>
            <result column="appoint_name" property="name"/>
        </association>

        <association property="offices" javaType="com.chinasoft.hospital_manager.domain.Offices">
            <id column="oid" property="id"/>
            <result column="oname" property="name"/>
        </association>

        <association property="doctor" javaType="com.chinasoft.hospital_manager.domain.Doctor">
            <id column="drid" property="id"/>
            <result column="drname" property="realname"/>
        </association>
    </resultMap>


    <select id="getTotalPatientsCountByCondition" resultType="java.lang.Integer" parameterType="map">
              /*        SELECT count(*)
        FROM patient p,appointment a ,appoint_category appoint ,offices o,doctor dr
        where a.patient_id=p.id
        AND appoint.id=a.clinc_category_id
        AND a.office_id=o.id
        AND a.doctor_id=dr.id*/
       <!-- <if test="startime != null and startime != ' ' and  endtime != null and endtime != ' ' ">
            SELECT count(*)
            FROM
            (SELECT a.id as aid ,a.patient_id as apid ,a.fee,DATE_FORMAT(a.datetime,'%Y-%m-%d') as condition_date ,  a.clinc_category_id,a.address as aaddress,a.flag,
            a.user_id,a.office_id,a.doctor_id,a.`comment`,a.number,a.`status`,a.time,
            p.id as pid,p.`name`,p.id_number,p.is_marry,p.telephone,p.`work`,p.address as paddress ,
            appoint.id as appoint_id ,appoint.`name` as appoint_name,
            o.id as oid ,o.`name` as oname,
            dr.id as drid ,dr.realname as drname
            FROM patient p,appointment a ,appoint_category appoint ,offices o,doctor dr
            where a.patient_id=p.id
            AND appoint.id=a.clinc_category_id
            AND a.office_id=o.id
            AND a.doctor_id=dr.id
            <if test="name!=null">
                and  p.name  like concat('%',#{name},'%')
            </if>

            <if test="id_number!=null">
                and  p.id_number = #{id_number}
            </if>
            <if test="id!=null">
                and  a.id = #{id}
            </if>
            <if test="today!=null">
                AND to_days(a.datetime) = to_days(now())
            </if>
            ) as temp
            <where>
                temp.condition_date  BETWEEN  startime AND endtime
            </where>
        </if>

        <if test ="startime == null and endtime == null ">
            SELECT count(*)
            FROM patient p,appointment a ,appoint_category appoint ,offices o,doctor dr
            where a.patient_id=p.id
            AND appoint.id=a.clinc_category_id
            AND a.office_id=o.id
            AND a.doctor_id=dr.id
        </if>-->
       <!--        <choose>
            <when test="startime != null and  endtime != null " >
                SELECT count(*)
                FROM
                (SELECT a.id as aid ,a.patient_id as apid ,a.fee,DATE_FORMAT(a.datetime,'%Y-%m-%d') as condition_date ,  a.clinc_category_id,a.address as aaddress,a.flag,
                a.user_id,a.office_id,a.doctor_id,a.`comment`,a.number,a.`status`,a.time,
                p.id as pid,p.`name`,p.id_number,p.is_marry,p.telephone,p.`work`,p.address as paddress ,
                appoint.id as appoint_id ,appoint.`name` as appoint_name,
                o.id as oid ,o.`name` as oname,
                dr.id as drid ,dr.realname as drname
                FROM patient p,appointment a ,appoint_category appoint ,offices o,doctor dr
                where a.patient_id=p.id
                AND appoint.id=a.clinc_category_id
                AND a.office_id=o.id
                AND a.doctor_id=dr.id
                <if test="name!=null">
                    and  p.name  like concat('%',#{name},'%')
                </if>

                <if test="id_number!=null">
                    and  p.id_number = #{id_number}
                </if>
                <if test="id!=null">
                    and  a.id = #{id}
                </if>
                <if test="today!=null">
                    AND to_days(a.datetime) = to_days(now())
                </if>
                ) as temp
            &lt;!&ndash;    <where>
                    temp.condition_date  BETWEEN  startime AND endtime
                </where>&ndash;&gt;
            </when>
            <otherwise>
                SELECT count(*)
                FROM patient p,appointment a ,appoint_category appoint ,offices o,doctor dr
                where a.patient_id=p.id
                AND appoint.id=a.clinc_category_id
                AND a.office_id=o.id
                AND a.doctor_id=dr.id
            </otherwise>
        </choose>-->
        SELECT count(*)
        FROM patient p,appointment a ,appoint_category appoint ,offices o,doctor dr
        where a.patient_id=p.id
        AND appoint.id=a.clinc_category_id
        AND a.office_id=o.id
        AND a.doctor_id=dr.id
        <if test="name!=null">
            and  p.name  like concat('%',#{name},'%')
        </if>

        <if test="id_number!=null">
            and  p.id_number = #{id_number}
        </if>
        <if test="id!=null">
            and  a.id = #{id}
        </if>
        <if test="today!=null">
            AND to_days(a.datetime) = to_days(now())
        </if>
    </select>


    <select id="getSelectDoctorsInfoByOnTimeCount" resultType="java.lang.Integer" parameterType="map">
        SELECT COUNT(*)
        FROM doctor d,`work` w ,offices o
        WHERE  d.id=w.doctorid AND o.id=d.office_id
        <if test="today!=null">
            AND to_days(w.startime) = to_days(now())
        </if>
        <if test="name!=null">
            and  d.realname  like concat('%',#{name},'%')
        </if>
        AND w.status=0
    </select>

    <select id="selectDoctorsInfoByOnTime"  parameterType="map" resultMap="DoctorsInfoByOnTime">
        SELECT d.*,
        w.id as wid,w.user_id,w.doctorid,w.address,w.onday,w.morning,w.afternoon,w.startime,w.endtime,w.comment,w.status as wstatus ,
        o.id as oid,o.name as oname
        FROM doctor d,`work` w ,offices o
        WHERE  d.id=w.doctorid AND o.id=d.office_id
        <if test="today!=null">
            AND to_days(w.startime) = to_days(now())
        </if>
        <if test="name!=null">
            and  d.realname  like concat('%',#{name},'%')
        </if>
        AND w.status=0
        limit #{index},#{count}
    </select>

    <resultMap id="DoctorsInfoByOnTime" type="com.chinasoft.hospital_manager.domain.Doctor">
        <id column="id" property="id"/>
        <result column="realname" property="realname"/>
        <result column="url" property="url"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="strength" property="strength"/>
        <result column="status" property="status"/>
        <result column="birthday" property="birthday"/>
        <result column="school" property="school"/>
        <result column="job" property="job"/>
        <result column="prat" property="prat"/>
        <association property="department" javaType="com.chinasoft.hospital_manager.domain.Department">

        </association>
        <association property="offices" javaType="com.chinasoft.hospital_manager.domain.Offices">
            <id column="oid" property="id"/>
            <result column="oname" property="name"/>
            <association property="appoint_category" javaType="com.chinasoft.hospital_manager.domain.Appoint_category">
            </association>
        </association>
        <collection property="works" ofType="com.chinasoft.hospital_manager.domain.Work">
            <id column="wid" property="id"/>
            <result column="address" property="address"/>
            <result column="onday" property="onday"/>
            <result column="morning" property="morning"/>
            <result column="wstatus" property="status"/>
            <result column="afternoon" property="afternoon"/>
            <result column="startime" property="startime"/>
            <result column="endtime" property="endtime"/>
            <association property="user" javaType="com.chinasoft.hospital_manager.domain.User">
                <id column="user_id"  property="id"/>
                <result column="name" property="name"/>
                <result column="username" property="username"/>
                <result column="password" property="password"/>
                <result column="birthday" property="birthday"/>
                <!--  <result column="sex" property="sex"/>-->
                <result column="profession" property="profession"/>
                <result column="datetime" property="datetime"/>
                <result column="job" property="job"/>
                <association property="role" javaType="com.chinasoft.hospital_manager.domain.Role">
                    <id column="roleid" property="roleid"/>
                    <result column="rolename" property="name"/>
                    <result column="remark" property="remark"/>
                </association>
            </association>
        </collection>
    </resultMap>


</mapper>